<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投资系统数据导航</title>
</head>
<body>
    <h1>投资系统数据导航</h1>
    <ul>
        <li><a href="/fundStockHighTrade.html">基金/股票交易次数大于500</a></li>
        <li><a href="/fundStockPriceChange.html">基金/股票涨跌总金额</a></li>
        <li><a href="/averagePrice.html">基金/股票平均盘价</a></li>
        <li><a href="/tradeDaysPrice.html">交易次数与盘价</a></li>
        <li><a href="/weekPriceChange.html">近一周涨跌情况</a></li>
        <li><a href="/highVolumeRecommendation.html">高交易量基金/股票推荐</a></li>
        <li><a href="/stablePriceRecommendation.html">平均盘价稳定且上升趋势明显的基金/股票推荐</a></li>
        <li><a href="/weeklyUpwardTrendRecommendation.html">近一周内上涨趋势明显的基金/股票推荐</a></li>
    </ul>
</body>
</html>
